doctype html
html
  head
    title Building Upshot from the Ground Up
    meta name="description" content="Upshot helps business generate authentic customer stories while rewarding their advocates."
    meta name="keywards" content="user experience, user interface, design"

    meta name="viewport" content="width=device-width, initial-scale=1"


		link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
		script src="https://use.typekit.net/fdq4kwe.js"
		javascript:
			try{Typekit.load({ async: true });}catch(e){}

    link href="src/stylesheets/css/base.css" rel='stylesheet' type='text/css'
    link href="src/stylesheets/css/content.css" rel='stylesheet' type='text/css'
    link href="src/stylesheets/css/upshot.css" rel='stylesheet' type='text/css'
    link rel="icon" type="image/png" href="src/img/favicon.png"
    link rel="shortcut icon" href="path/to/favicon.ico"
    script src="https://code.jquery.com/jquery-1.12.0.min.js"
		script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
		script src="/src/javascript/script.js"
    script src="/src/javascript/nav-script.js"

  body
      include _header.slim

      .content-wrapper
        .header
          h1 Building Upshot From the Ground Up
          .caption User Research, UX Design, UI Design, Branding, Front-End Development
        .content
          p
          | The Moonshots team of&nbsp;
          span.a
            a href="http://www.influitive.com"Influitive
          |&nbsp;was tasked to create an easy and natural experience for professionals to advocate for their favorite&nbsp;companies.
          h3 Research, Ideate, and Validate
          p
          |We started by interviewing over 30 marketers from different marketing functions, seniority level, and company size. We learned about their roles, professional goals, difficulties at work, and industry&nbsp;trends.
          br
          br
          |We took these learnings and brainstormed ideas for potential products. We mocked up ideas, went to potential users for feedback, and then iterated on them. We repeated this process until we settled on an&nbsp;idea.
        .image-container
          img#img-1 src="src/img/images/project/upshot/affinity-diagram.png"
          .caption Affinity diagram for one of the many ideas that we tested.

        .content
          h3 Upshot Experiment
          p
          |Through research, the idea of helping marketers highlight their achievements through blog post had the most potential. Upshot made writing easier by
          ul
            li Help users identify topic
            li Ghost write the blog
            li Set up distribution to drive traffic
          br
          |We ran a high-fidelity experiment and created twelve Upshot stories. You can see an original Upshot story&nbsp;
          span.a
            a href="/The-Power-Of-Customer-Success-In-Driving-Advocacy-For-Your-Organization-Upshot.htm"here
          |.

        .image-container
          img#img-2 src="src/img/images/project/upshot/experiment-story-page.png"
          .caption Upshot experiment story page design.

        .content
          h3 Upshot MVP
          p
          |After Upshot&rsquo;s experimental success, we tied the product back to advocate marketing. Content is an important tool for marketing and sales. On the other side, professionals advocate for companies to help accelerate their own&nbsp;career.
          br
          br
          |Upshot helps companies generate authentic customer stories while recognizing the advocates for their&nbsp;achievements.

        .image-container
          img#img-3 src="src/img/images/project/upshot/MVP-story-page.png"
          .caption Upshot MVP story page design.
        .image-container
          img#img-4 src="src/img/images/project/upshot/contributor-questionnaire.png"
          .caption Contributor questionnaire design.
        .video-container
          .iframe-container
            iframe src="https://player.vimeo.com/video/179255152" width="640" height="411" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
          .caption Contributor publishing flow.
        .video-container
          .iframe-container
            iframe src="https://player.vimeo.com/video/179256467" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
          .caption Vendor create new campaign flow.

        .read-medium
          a href="https://medium.com/@rmaggiecai/building-upshot-from-the-ground-up-3b15b69de2c7#.z488nq5rg"
            .heading
              h3 READ MORE
              img src="src/img/icons/right-arrow.svg"
            p Checkout the Medium post to learn more about the design process
            .caption Building Upshot From the Ground Up


      include _footer.slim
