doctype html
html
  head
    title Rebuilding Figure Eight Contributor Account
    meta name="description" content="Upshot helps business generate authentic customer stories while rewarding their advocates."
    meta name="keywards" content="user experience, user interface, design"

    meta name="viewport" content="width=device-width, initial-scale=1"


		link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
		script src="https://use.typekit.net/zvi3bxb.js"
		javascript:
			try{Typekit.load({ async: true });}catch(e){}

    link href="src/stylesheets/css/base.css" rel='stylesheet' type='text/css'
    link href="src/stylesheets/css/content.css" rel='stylesheet' type='text/css'
    link href="src/stylesheets/css/feca.css" rel='stylesheet' type='text/css'
    link rel="icon" type="image/png" href="src/img/favicon.png"
    link rel="shortcut icon" href="path/to/favicon.ico"
    script src="https://code.jquery.com/jquery-1.12.0.min.js"
		script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
		script src="/src/javascript/script.js"
    script src="/src/javascript/nav-script.js"

  body
      include _header.slim

      .content-wrapper
        .header
          h1.large Rebuilding Figure Eight Contributor Account
          h2 Design Thinking, UX/UI Design, User Testing
        .content
          h4 Project Objective
          p 
            |We wanted to rebuild 
            span.a
              a href="https://www.figure-eight.com/" Figure Eight
            |&rsquo;s contributor platform. The goal is to own the platform code and ship a light-weight, modern solution within a&nbsp;quarter.
          h5 I wanted to create an easy-to-use and engaging experience for users that work on our platform.
        
        .content
          h4 About Figure Eight
          p 
            |Data scientists and machine learning scientists use Figure Eight to clean data. The cleaned data are used to train machine learning algorithms. Data scientists or machine learning scientists set requirements on the final results. Contributors from around the world follow the requirements to clean data.
        .image-container
          img src="src/img/images/project/feca/how_works.png" 
        
        .content
          h4 Understanding the Users
          p Our contributors are from around the world. English is often their second language. This is a flexible opportunity for them to earn extra income. Figure Eight Contributor Account is the main platform for them to find work. 
        
        .image-container
          .image-holder 
            img.img-half src="src/img/images/project/feca/contributor_persona_1.png"
            img.img-half src="src/img/images/project/feca/contributor_persona_2.png"
          .caption Contributor Persona.
        
        .content
          h4 Identify Problems Through Design Thinking Sessions
          p I worked closely with the contributor operations team to learn about these users. 
          h5 We created Empathy Maps and As-Is Scenario Maps to identify gaps in the experience.
        .image-container
          .image-holder 
            img.img-half src="src/img/images/project/feca/empathy_map.jpg"
            img.img-half src="src/img/images/project/feca/scenario_map.jpg"
          .caption Empathy map and scenerio map.
        

        .content
          h4 Sign Up Flow
          p In the old platform, sign up has been a main pain point for users. Users would often get confused by the process and drop out of the funnel.
        .image-container
          img src="src/img/images/project/feca/elite_old.png"
          .caption The old elite sign up screen.
        .content
          h5 The main goal of the redesign is to create an easy sign-up flow and decrease the number of drop-offs. 
          p The first screen of the sign up flow explain the value of the platform and answers concerns. To create an account, the first step only asks for required information. The design guides the user through each step of the sign up flow. It is allows users to skip to minimize drop offs. I added illustration and animation to create a delightful experience.
        .image-container
          .image-holder
            img src="src/img/images/project/feca/sign_up_flow.png"
          .caption Sign up flow diagram.
           
        .image-container
          .image-holder
            img src="src/img/images/project/feca/sign_up_lofi.png"
          .caption Low-fidelity wireframes.
        
        .content  
          p  
            |Based on feedback, we created a service that helps career-driven professionals share and learn from each other. We ran a high-fidelity experiment, called Upshot, and iterated the product with 12 early adopters. 
          H5 My goal was to make the content-generators feel like thought-leaders.
          p  
            |You can see an original Upshot prototype&nbsp;
            span.a
              a href="/The-Power-Of-Customer-Success-In-Driving-Advocacy-For-Your-Organization-Upshot.htm"here
            |.

        .image-container
          img src="src/img/images/project/upshot/user_storyboard.png"
          .caption Storyboard for the content-generator experience.
        .image-container
          img src="src/img/images/project/upshot/flow_diagram.png"
          .caption User flow diagram for reading and creation experience.
        .image-container
          img#img-2 src="src/img/images/project/upshot/experiment-story-page.png"
          .caption Story page design.
        .video-container
          .iframe-container
            iframe src="https://player.vimeo.com/video/179255778" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
          .caption Publishing flow for creating new stories.

        .content
          h4 Finding Product-Market Fit with MVP
          p
            |After our experimental success, we tied the product back to advocate marketing. Companies need a pipeline of new and original content for their lead-generation funnels. It is time-consuming and resource-intensive to maintain a consistent of stream of content. We wanted to create an efficient process to generate high-quality content at&nbsp;scale. 
          h5 I wanted to create an effortless experience that streamlines the content creation&nbsp;process.
          p
            |I worked closely with vendor and content-generators to iterate on the product. I also worked with a UI designer to bring the product to life.
            br
            br
            |After 4 months of working on the product, we were able to secure 7 SaaS companies to be paying customers.
        .image-container
          img src="src/img/images/project/upshot/vendor_storyboard.png"
          .caption Storyboard for the vendor experience.
        .image-container
          img src="src/img/images/project/upshot/mvp_flow_diagram.jpg"
          .caption Product flow diagram.
          
        .image-container
          h4 A VIP experience for content-generators
          img#img-4 src="src/img/images/project/upshot/contributor-questionnaire.png"
          .caption Contributor questionnaire design.
        .video-container
          .iframe-container
            iframe src="https://player.vimeo.com/video/179255152" width="640" height="411" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
          .caption Contributor publishing flow.
        .image-container
          img#img-3 src="src/img/images/project/upshot/mvp-story-page.png"
          .caption Upshot MVP story page design.
        .read-medium
          a target="_blank" href="https://medium.com/@rmaggiecai/improving-the-upshot-onboarding-experience-55215906a563"
            include _medium.slim
            p Improving the Upshot Onboarding Experience
        
        .image-container
          h4 Streamline the content-generation process for vendors
          img#img-5 src="src/img/images/project/upshot-newCampaign/cta.png"
          .caption Step 2 of the campaign creation flow.
        .video-container
          .iframe-container
            iframe src="https://player.vimeo.com/video/179256467" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
          .caption Vendor create new campaign flow.
        .read-medium
          a target="_blank" href="https://medium.com/@rmaggiecai/designing-campaign-creation-flow-for-upshot-a8b1f4634fdd"
            include _medium.slim
            p Designing the Campaign Creation Flow for Upshot

      .next-project
       a href="/mongodb.html"
         .description
          h3 Next Project
          h1 MongoDB Monitoring Service Open Alerts Feed&nbsp;Redesign
         .image
           img#mongo src="src/img/images/project/mongodb/mongo-cover.jpg"
           .cover
             .background
             h3 Read More

      include _footer.slim
