doctype html
html
  head
    title Maggie Cai's Portfolio

    meta name="viewport" content="width=device-width, initial-scale=1"


		link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
		script src="https://use.typekit.net/fdq4kwe.js"
		javascript:
			try{Typekit.load({ async: true });}catch(e){}

    link href="src/stylesheets/css/base.css" rel='stylesheet' type='text/css'
    link href="src/stylesheets/css/index.css" rel='stylesheet' type='text/css'
      link href="src/stylesheets/css/index-temp.css" rel='stylesheet' type='text/css'
    link rel="icon" type="image/png" href="src/img/favicon.png"
    link rel="shortcut icon" href="path/to/favicon.ico"
    script src="https://code.jquery.com/jquery-1.12.0.min.js"
		script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
		script src="/src/javascript/script.js"
    script src="/src/javascript/nav-script.js"

  body
    .background
      .left
      .right
    .content-wrapper#outer
      .content-wrapper
        img src="src/img/name-logo9.svg" height="13" width="132.05" style="margin-top:26px;"
      .content-wrapper#inner
        .content-left
            h1 Currently Under Redesign 
            p Please come back later!
        .content-right
          img src="src/img/shapes.svg" width="100%"
  
  / include _footer.slim
      
  
  
  
