doctype html
html
  head
    title Maggie Cai's Portfolio
    meta name="description" content="Maggie Cai is a product designer based in San Francisco, CA."
    meta name="keywards" content="user experience, user interface, design"

    meta content="width=device-width, initial-scale=1" name="viewport"


		link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
		script src="https://use.typekit.net/zvi3bxb.js"
		javascript:
			try{Typekit.load({ async: true });}catch(e){}

    link href="src/stylesheets/css/base.css" rel='stylesheet' type='text/css'
    link href="src/stylesheets/css/index.css" rel='stylesheet' type='text/css'
    link rel="icon" type="image/png" href="src/img/favicon.png"
    link rel="shortcut icon" href="path/to/favicon.ico"
    script src="https://code.jquery.com/jquery-1.12.0.min.js"
		script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
		script src="./src/javascript/script.js"
    script src="/src/javascript/nav-script.js"

  body
    .loading-overlay    
      include _logo.slim
      
    include _header.slim
    .header-background-image

    .content-wrapper
      .body#about-me
        
        .about-me-intro
          .about-me-description
            h1.large Maggie Cai
            p
              |I&rsquo;m a self-taught designer currently living in sunny San Francisco, California. I design experiences for users and solutions for&nbsp;businesses. 
              br
              br
              |To me, good product design is user-centered, innovative, and metrics driven. We learn with empathy, create with intuition, and test with data. 
              br
              br
              |You can catch me elsewhere too:

            ul
              li
                span.a
                  a href="https://medium.com/@rmaggiecai" target="_blank" Medium
              li
                span.a
                  a href="https://dribbble.com/rmaggiecai" target="_blank" Dribbble
              li
                span.a
                  a href="https://www.linkedin.com/in/rmaggiecai" target="_blank" LinkedIn
              li
                span.a
                  a href="mailto:r.maggie.cai@gmail.com" target="_blank" Email
          .about-me-image
            img src="src/img/images/portrait2018.png"

        .body#my-work
          h3 my work
          .project#project-1
            a href="/upshot-onboarding.html"
              .image
                img#upshot-1 src="src/img/images/project/upshot-onboarding/upshot-onboarding-cover.jpg"
                .cover
                  .background
                  h3 Read More
              .description
                h1 Project from Figure Eight?
                p Inspire and educate users on our services and benefits.

          .project#project-2
            a href="/upshot-newCampaign.html"
              .description
                h1 Becoming Figure Eight
                p Rebrand Crowdflower to Figure Eight.
              .image
                img#upshot-2 src="src/img/images/project/upshot-newCampaign/upshot-newCampaign-cover.jpg"
                .cover
                  .background
                  h3 Read More

          .project#project-3
            a href="/building-upshot.html"
              .image
                img#upshot src="src/img/images/project/upshot/upshot-cover.jpg"
                .cover
                  .background
                  h3 Read More
              .description
                h1 Upshot: Create Authentic Customer&nbsp;Stories
                p Help B2B SaaS companies produce high-quality, user-generated content.

          .project#project-4
            a href="/mongodb.html"
              .description
                h1 MongoDB Monitoring Service Open Alerts Feed&nbsp;Redesign
                p Allow users to coordinate and communicate with their team members through the platform.
              .image
                img#mongo src="src/img/images/project/mongodb/mongo-cover.jpg"
                .cover
                  .background
                  h3 Read More

        


  include _footer.slim
