@import "bourbon";
@import "grid-settings";
@import "neat/neat";

@import 'variables';
@import 'typography';

.content-wrapper,nav ul, footer{
  @include outer-container;
}
body{
  margin: 0 $medium-spacing;

  @include media($mobile){
    margin: 0 $s-m-spacing;
  }
}
footer{
  border-top: $line-break;
  margin-top: $gap-break;

  @include media($mobile){
    margin-top: $section-break;
  }
  .wrapper{
    display:flex;
    display: -webkit-flex;
    justify-content: space-between;;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
  }

  a{
    border-bottom: none;
    color:$text-color;
    padding: $s-m-spacing 0;
  }

  .logo{
    padding: $s-m-spacing 0;
    display: flex;
    display: -webkit-flex;
    img{
      width: $s-m-spacing;
      height: $s-m-spacing;
    }
  }
}

nav {
  position: absolute;
  left:0;
  width: 100%;
  background-color: white;
  z-index:100;

  ul{
    list-style: none;
    padding: $s-m-spacing 0;

    @include media ($desktop){
      margin: 0 $medium-spacing;
    }

    @include media($mobile){
      margin: 0 $s-m-spacing;
    }

    li{
      display: block;


      a{
        padding:$s-m-spacing 0;
      }

      #logo img{
        height: 13px;
      }

    }
  }
}
.nav-up {
  position: fixed;
  top: -78px; // same as header height. use variables in LESS/SASS
  visibility: hidden;
  transition: top 0.5s ease-in-out,
              visibility 0.5s linear 10s;

}

.nav-down{
  position: fixed;
  top: 0;
  visibility: visible;
  transition: top 0.5s ease-in-out;
}

.nav-on-scroll{
}

.project, .next-project{
  @include outer-container;
  margin-bottom: $large-spacing;
  @include media($mobile){
    margin-bottom: $small-spacing*7;
  }

  a{
    .image{
      position: relative;
      .cover{
        opacity: 0;
        width: 100%;
        height: calc(100% - 7px);
        position: absolute;
        top: 0;
        @include transition(opacity 400ms ease-in-out);


        .background{
          width: 100%;
          height: 100%;
          background-color: #3E4857;
          opacity: .75;
        }

        h3{
          color: white;
          margin:0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }

      }
      img{
	      filter: blur(0);
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        @include transition(filter 400ms ease-in-out);
      }
    }

    &:hover{
      .image {
        .cover{
          opacity: 1;

        }
        img{
          filter: blur(2px);
          -webkit-filter: blur(2px);
          -moz-filter: blur(2px);
          -o-filter: blur(2px);
          -ms-filter: blur(2px);
          filter: url("/src/stylesheets/blur.svg#blur");
        }
      }
    }
  }
  .description{
    @include span-columns(2);

    @include media($mobile) {
       @include span-columns(2);
     }

    h1{
      margin-top: $m-l-spacing;

      @include media ($tablet) {
        margin-top: $medium-spacing;
      }
      @include media($mobile) {
        margin-top: $s-m-spacing;
        margin-bottom: $small-spacing;
       }
    }
  }
  .image{
    @include span-columns(2);
    @include media($mobile) {
       @include span-columns(2);
     }
    img{
      max-width: 100%;
    }

    #upshot-1{
      box-shadow: 0px 29px 20px -29px rgba(199, 237, 192, 0.2), 0px 29px 30px -24px rgba(0, 0, 0, 0.20);
    }
    #upshot-2{
      box-shadow: 0px 29px 20px -29px rgba(212, 198, 231, 0.2), 0px 29px 30px -24px rgba(0, 0, 0, 0.20);
    }
    #upshot{
      box-shadow: 0px 29px 20px -29px rgba(246, 224, 175, 0.2), 0px 29px 30px -24px rgba(0, 0, 0, 0.20);
    }
    #mongo{
      box-shadow: 0px 29px 20px -29px rgba(205, 235, 183, 0.2), 0px 29px 30px -24px rgba(0, 0, 0, 0.2);
    }
    #finder{
      box-shadow: 0px 29px 20px -29px rgba(201, 220, 242, 0.2), 0px 29px 30px -24px rgba(0, 0, 0, 0.2);
    }
  }

  a{
    color: $text-color;
    border:none;
  }
}

.bold{
  font-weight: 700;
}
