@import "bourbon";
@import "grid-settings";
@import "bourbon_neat/neat";

@import 'variables';
@import 'typography';

.loading-overlay{
    z-index: 9999;
    background-color: #FFF;
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin-left: -39px;
    margin-right: -39px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      opacity: 0;
      width: 100px;
      height: 100px;
      .cls-1{
        fill: $pink;
      }

    }
}
.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
}
.fade-in {
    animation: fadein 2s linear;
}
.remove {
    display: none;
}
.header-background-image{
  height: 1px;
}
.header{
  @include outer-container;
  #quote{
     @include span-columns(4);
    //  @include omega;
    // note

     margin-top: 35vh;
     @include media ($mobile){
       margin-top: 30vh;
     }
     // @include media ($iphone5){
     //   margin-top: 26vh;
     // }

     @include media($mobile) {
        @include span-columns(2);
      }

      p.caption{
        text-indent: -6px;
      }
  }

  #brand{

  }
  #read-more{
    @include span-columns(4);

    @include media($mobile) {
       @include span-columns(2);
     }

    a{
      position:absolute;
      bottom: 6vh;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: none;

      @include media($mobile) {
         bottom: 4vh;
       }

      &:hover{
        img{
          @include animation(bounce 2300ms infinite ease);
        }
      }
    }
  }
}

.body{
  @include outer-container;
  margin-top: $section-break;

    .about-me-description{
      @include span-columns(2 of 4);

      @include media($mobile) {
         @include span-columns(2 of 2);
       }
     }

    .about-me-image{
      @include span-columns(2 of 4);
      @include omega;

      @include media($mobile) {
         @include span-columns(2 of 2);
         margin-top: $medium-spacing;
       }
      img{
        max-width: 100%;
        box-shadow: 0px 29px 20px -29px rgba(178, 148, 154, 0.32), 0px 29px 30px -24px rgba(0, 0, 0, 0.20)
      }
    }

}

// .about-me-experience{
//   margin-top: $section-break;
//
//   @include media($mobile) {
//      @include span-columns(2);
//    }
//   h3{
//     margin-top: 0px;
//   }
//
//   .company{
//     @include span-columns(2 of 4);
//     @include media($mobile) {
//        @include span-columns(2);
//      }
//   }
//   [class^="experience-"]{
//     @include outer-container;
//     margin-top: $medium-spacing;
//     overflow:auto;
//   }
//   .experience-1{
//     @include omega;
//     margin-top: 0;
//   }
//   .description{
//     @include span-columns(2 of 4);
//
//     @include media($mobile) {
//        @include span-columns(2);
//        margin-top: $small-spacing;
//      }
//   }
// }




#project-2, #project-4, #project-6 {
  a{
    @include media($mobile){
      display:flex;
      display: -webkit-flex;
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
    }
  }
}

#my-work:last-child{
  margin-bottom: 0;
}



h2{
  margin-bottom: $m-l-spacing;
}

h1.large{
  // margin-top: $large-spacing;
}

//animation
@include keyframes(bounce) {
	0%, 50%, 100% {
    @include transform(translateY(0));
  }
	25% {
    @include transform(translateY(-20px));
  }
	75% {
    @include transform(translateY(-20px));
  }
}

@keyframes fadein {
    0% {
      opacity: 0;
      transform: scale(.98);
    } 50% {
      opacity: 1;
      transform: scale(1);
    } 100% {
      opacity: 0;
      transform: scale(.98);
    }
}
