html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "proxima-nova", Helvetica, Sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #3A4351;
  font-weight: 400; }

h1 {
  font-family: "essonnes-display", sans-serif;
  font-size: 36px;
  line-height: 52px;
  font-weight: 400;
  margin-top: 39px;
  margin-bottom: 26px; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 28px;
      line-height: 39px; } }

h2 {
  font-size: 18px;
  line-height: 26px;
  color: #98A0AC;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 700; }
  h2:before {
    content: url("../../img/icons/diamond.svg");
    margin-right: 13px; }

h3 {
  font-size: 13px;
  line-height: 26px;
  color: #657082;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-top: 39px;
  margin-bottom: 13px;
  font-weight: 700; }

.caption {
  color: #98A0AC; }

a {
  color: #3A4351;
  text-decoration: none; }
  a:hover {
    color: #3A4351; }

span.a {
  border-bottom: 7px solid rgba(247, 213, 207, 0.5);
  position: relative;
  top: -8px; }
  span.a a {
    position: relative;
    top: 8px; }

p, ul {
  margin: 0; }

.header-background-image {
  height: 100vh; }

.header {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
  .header::after {
    clear: both;
    content: "";
    display: table; }
  .header #quote {
    float: left;
    display: block;
    margin-right: 5%;
    width: 100%;
    margin-top: 35vh; }
    .header #quote:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .header #quote {
        margin-top: 30vh; } }
    @media screen and (max-width: 320px) {
      .header #quote {
        margin-top: 26vh; } }
    @media screen and (max-width: 480px) {
      .header #quote {
        float: left;
        display: block;
        margin-right: 10.5263157895%;
        width: 100%; }
        .header #quote:last-child {
          margin-right: 0; } }
    .header #quote h1 {
      text-indent: -13px;
      font-size: 40px;
      line-height: 62px; }
      @media screen and (max-width: 480px) {
        .header #quote h1 {
          text-indent: -11px;
          font-size: 30px;
          line-height: 1.4; } }
    .header #quote p.caption {
      text-indent: -6px; }
  .header #read-more {
    float: left;
    display: block;
    margin-right: 5%;
    width: 100%; }
    .header #read-more:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .header #read-more {
        float: left;
        display: block;
        margin-right: 10.5263157895%;
        width: 100%; }
        .header #read-more:last-child {
          margin-right: 0; } }
    .header #read-more a {
      position: absolute;
      bottom: 6vh;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: none; }
      @media screen and (max-width: 480px) {
        .header #read-more a {
          bottom: 4vh; } }
      .header #read-more a:hover img {
        -webkit-animation: bounce 2300ms infinite ease;
        -moz-animation: bounce 2300ms infinite ease;
        animation: bounce 2300ms infinite ease; }

.body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px; }
  .body::after {
    clear: both;
    content: "";
    display: table; }
  .body .about-me-intro {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
    .body .about-me-intro::after {
      clear: both;
      content: "";
      display: table; }
    .body .about-me-intro .about-me-description {
      float: left;
      display: block;
      margin-right: 5%;
      width: 47.5%; }
      .body .about-me-intro .about-me-description:last-child {
        margin-right: 0; }
      @media screen and (max-width: 480px) {
        .body .about-me-intro .about-me-description {
          float: left;
          display: block;
          margin-right: 10.5263157895%;
          width: 100%; }
          .body .about-me-intro .about-me-description:last-child {
            margin-right: 0; } }
    .body .about-me-intro .about-me-image {
      float: left;
      display: block;
      margin-right: 5%;
      width: 47.5%;
      margin-right: 0; }
      .body .about-me-intro .about-me-image:last-child {
        margin-right: 0; }
      @media screen and (max-width: 480px) {
        .body .about-me-intro .about-me-image {
          float: left;
          display: block;
          margin-right: 10.5263157895%;
          width: 100%;
          margin-top: 39px; }
          .body .about-me-intro .about-me-image:last-child {
            margin-right: 0; } }
      .body .about-me-intro .about-me-image img {
        max-width: 100%;
        box-shadow: 0px 29px 20px -29px rgba(178, 148, 154, 0.32), 0px 29px 30px -24px rgba(0, 0, 0, 0.2); }

.about-me-experience {
  margin-top: 130px; }
  @media screen and (max-width: 480px) {
    .about-me-experience {
      float: left;
      display: block;
      margin-right: 10.5263157895%;
      width: 100%; }
      .about-me-experience:last-child {
        margin-right: 0; } }
  .about-me-experience h3 {
    margin-top: 0px; }
  .about-me-experience .company {
    float: left;
    display: block;
    margin-right: 5%;
    width: 47.5%; }
    .about-me-experience .company:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .about-me-experience .company {
        float: left;
        display: block;
        margin-right: 10.5263157895%;
        width: 100%; }
        .about-me-experience .company:last-child {
          margin-right: 0; } }
  .about-me-experience [class^="experience-"] {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 39px;
    overflow: auto; }
    .about-me-experience [class^="experience-"]::after {
      clear: both;
      content: "";
      display: table; }
  .about-me-experience .experience-1 {
    margin-right: 0;
    margin-top: 0; }
  .about-me-experience .description {
    float: left;
    display: block;
    margin-right: 5%;
    width: 47.5%; }
    .about-me-experience .description:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .about-me-experience .description {
        float: left;
        display: block;
        margin-right: 10.5263157895%;
        width: 100%;
        margin-top: 13px; }
        .about-me-experience .description:last-child {
          margin-right: 0; } }

.project {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 78px; }
  .project::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 480px) {
    .project {
      margin-bottom: 91px; } }
  .project a .image {
    position: relative; }
    .project a .image .cover {
      opacity: 0;
      width: 100%;
      height: calc(100% - 7px);
      position: absolute;
      top: 0;
      -webkit-transition: opacity 400ms ease-in-out;
      -moz-transition: opacity 400ms ease-in-out;
      transition: opacity 400ms ease-in-out; }
      .project a .image .cover .background {
        width: 100%;
        height: 100%;
        background-color: #3E4857;
        opacity: .75; }
      .project a .image .cover h3 {
        color: white;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .project a .image img {
      filter: blur(0);
      -webkit-filter: blur(0);
      -moz-filter: blur(0);
      -o-filter: blur(0);
      -ms-filter: blur(0);
      -webkit-transition: filter 400ms ease-in-out;
      -moz-transition: filter 400ms ease-in-out;
      transition: filter 400ms ease-in-out; }
  .project a:hover .image .cover {
    opacity: 1; }
  .project a:hover .image img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: url("/src/stylesheets/blur.svg#blur"); }
  .project .description {
    float: left;
    display: block;
    margin-right: 5%;
    width: 47.5%; }
    .project .description:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .project .description {
        float: left;
        display: block;
        margin-right: 10.5263157895%;
        width: 100%; }
        .project .description:last-child {
          margin-right: 0; } }
    .project .description h1 {
      margin-top: 52px; }
      @media screen and (max-width: 768px) {
        .project .description h1 {
          margin-top: 39px; } }
      @media screen and (max-width: 480px) {
        .project .description h1 {
          margin-top: 26px;
          margin-bottom: 13px; } }
  .project .image {
    float: left;
    display: block;
    margin-right: 5%;
    width: 47.5%; }
    .project .image:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .project .image {
        float: left;
        display: block;
        margin-right: 10.5263157895%;
        width: 100%; }
        .project .image:last-child {
          margin-right: 0; } }
    .project .image img {
      max-width: 100%; }
    .project .image #upshot {
      box-shadow: 0px 29px 20px -29px rgba(246, 224, 175, 0.2), 0px 29px 30px -24px rgba(0, 0, 0, 0.2); }
    .project .image #mongo {
      box-shadow: 0px 29px 20px -29px rgba(205, 235, 183, 0.2), 0px 29px 30px -24px rgba(0, 0, 0, 0.2); }
    .project .image #finder {
      box-shadow: 0px 29px 20px -29px rgba(201, 220, 242, 0.2), 0px 29px 30px -24px rgba(0, 0, 0, 0.2); }
  .project a {
    color: #3A4351;
    border: none; }

h2 {
  margin-bottom: 52px;
  margin-top: 0px; }
  @media screen and (max-width: 480px) {
    h2 {
      margin-bottom: 39px; } }

@media screen and (max-width: 480px) {
  #project-2 a, #project-4 a, #project-6 a {
    display: flex;
    display: -webkit-flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse; } }

#my-work:last-child {
  margin-bottom: 0; }

@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-20px); }
  75% {
    -webkit-transform: translateY(-20px); } }
@-moz-keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0); }
  25% {
    -moz-transform: translateY(-20px); }
  75% {
    -moz-transform: translateY(-20px); } }
@keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  75% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); } }
