html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: "proxima-nova", Helvetica, Sans-serif;
  font-size: 18px;
  line-height: 1.48;
  color: #3A4351;
  font-weight: 400;
}

h1 {
  font-family: "essonnes-display", sans-serif;
  font-size: 36px;
  line-height: 52px;
  font-weight: 400;
  margin-top: 39px;
  margin-bottom: 26px;
}

@media screen and (min-width: new-breakpoint(max-width 480px 2)) {
  h1 {
    font-size: 28px;
    line-height: 39px;
  }
}

h1.large {
  font-size: 5rem;
  line-height: 1.3;
  margin-bottom: 26px;
}

h2 {
  font-size: 20px;
  line-height: 30px;
  color: #657082;
  font-weight: 400;
  font-style: italic;
  margin-top: 13px;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 0.667rem;
  margin-top: 52px;
}

h3 {
  font-size: 0.87rem;
  line-height: 26px;
  color: #657082;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-top: 39px;
  margin-bottom: 13px;
  font-weight: 700;
}

h5 {
  font-family: "essonnes-text", sans-serif;
  line-height: 1.44;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}

.caption {
  color: #98A0AC;
}

a {
  color: #3A4351;
  text-decoration: none;
}

a:hover {
  color: #3A4351;
}

span.a {
  border-bottom: 7px solid rgba(247, 213, 207, 0.5);
  position: relative;
  top: -8px;
}

span.a a {
  position: relative;
  top: 8px;
}

p, ul {
  margin: 0;
}

ol {
  margin-top: 0;
}

.loading-overlay {
  z-index: 9999;
  background-color: #FFF;
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin-left: -39px;
  margin-right: -39px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-overlay svg {
  opacity: 0;
  width: 100px;
  height: 100px;
}

.loading-overlay svg .cls-1 {
  fill: #F7D5CF;
}

.fade-out {
  transition: opacity 1s ease-out;
  opacity: 0;
}

.fade-in {
  animation: fadein 2s linear;
}

.remove {
  display: none;
}

.header-background-image {
  height: 1px;
}

.header {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.header::after {
  clear: both;
  content: "";
  display: table;
}

.header #quote {
  float: left;
  display: block;
  margin-right: 5%;
  width: 100%;
  margin-top: 35vh;
}

.header #quote:last-child {
  margin-right: 0;
}

@media screen and (min-width: new-breakpoint(max-width 480px 2)) {
  .header #quote {
    margin-top: 30vh;
  }
}

@media screen and (min-width: new-breakpoint(max-width 480px 2)) {
  .header #quote {
    float: left;
    display: block;
    margin-right: 5%;
    width: 47.5%;
  }
  .header #quote:last-child {
    margin-right: 0;
  }
}

.header #quote p.caption {
  text-indent: -6px;
}

.header #read-more {
  float: left;
  display: block;
  margin-right: 5%;
  width: 100%;
}

.header #read-more:last-child {
  margin-right: 0;
}

@media screen and (min-width: new-breakpoint(max-width 480px 2)) {
  .header #read-more {
    float: left;
    display: block;
    margin-right: 5%;
    width: 47.5%;
  }
  .header #read-more:last-child {
    margin-right: 0;
  }
}

.header #read-more a {
  position: absolute;
  bottom: 6vh;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: none;
}

@media screen and (min-width: new-breakpoint(max-width 480px 2)) {
  .header #read-more a {
    bottom: 4vh;
  }
}

.header #read-more a:hover img {
  -webkit-animation: bounce 2300ms infinite ease;
  -moz-animation: bounce 2300ms infinite ease;
  animation: bounce 2300ms infinite ease;
}

.body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
}

.body::after {
  clear: both;
  content: "";
  display: table;
}

.body .about-me-description {
  float: left;
  display: block;
  margin-right: 5%;
  width: 47.5%;
}

.body .about-me-description:last-child {
  margin-right: 0;
}

@media screen and (min-width: new-breakpoint(max-width 480px 2)) {
  .body .about-me-description {
    float: left;
    display: block;
    margin-right: 10.5263157895%;
    width: 100%;
  }
  .body .about-me-description:last-child {
    margin-right: 0;
  }
}

.body .about-me-image {
  float: left;
  display: block;
  margin-right: 5%;
  width: 47.5%;
  margin-right: 0;
}

.body .about-me-image:last-child {
  margin-right: 0;
}

@media screen and (min-width: new-breakpoint(max-width 480px 2)) {
  .body .about-me-image {
    float: left;
    display: block;
    margin-right: 10.5263157895%;
    width: 100%;
    margin-top: 39px;
  }
  .body .about-me-image:last-child {
    margin-right: 0;
  }
}

.body .about-me-image img {
  max-width: 100%;
  box-shadow: 0px 29px 20px -29px rgba(178, 148, 154, 0.32), 0px 29px 30px -24px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: new-breakpoint(max-width 480px 2)) {
  #project-2 a, #project-4 a, #project-6 a {
    display: flex;
    display: -webkit-flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
  }
}

#my-work:last-child {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 52px;
}

@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px);
  }
  75% {
    -webkit-transform: translateY(-20px);
  }
}

@-moz-keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-20px);
  }
  75% {
    -moz-transform: translateY(-20px);
  }
}

@keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  75% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.98);
  }
}
