#img-2 {
  box-shadow: 0px 29px 20px -29px rgba(88, 91, 100, 0.32), 0px 29px 30px -24px rgba(0, 0, 0, 0.2); }

#img-3 {
  box-shadow: 0px 29px 20px -29px rgba(255, 232, 182, 0.32), 0px 29px 30px -24px rgba(0, 0, 0, 0.2); }

#img-4 {
  box-shadow: 0px 29px 20px -29px rgba(227, 252, 232, 0.32), 0px 29px 30px -24px rgba(0, 0, 0, 0.2); }
